@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
  box-sizing: border-box;
  background-color: #8FBC8F;
}

/* Main Pagr */
.header {
  text-align: center;
  color: whitesmoke;
  font-size: 40px;
  font-family: "Rubik", sans-serif;
}



.main-animals {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

img {
  border-radius: 25px;
  width: 200px;
  height: 200px;
  margin: 10px;
  opacity:0.5;
  transition: 1s ease;
}

img:hover {
  opacity:1;
  transition: 1s ease;
}

/* Show Page */
.animalShow {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/* Creating a new Animal */
.container-new {
  width: 50vw;
  height: 58vh;
  margin: 50px auto;
  display: flex;
  border-radius: 10px;
  /* box-shadow: 1px 1px 10px #ddd,
              -1px -1px 10px #ddd,
              1px -1px 10px #ddd,
              -1px 1px 10px #ddd; */
  justify-content: center;
}

.container-new input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 5px;
}

.container-new textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 5px;
  resize: none;
  height: 100px;
}

::placeholder {
  color: white;
  font-family: "Poppins", sans-serif;
}

.create {
  background-color: yellowgreen;
  color: white;
  font-family: "Poppins", sans-serif;
}